Library/Cloud_Configuration/node_red_flows.json
[
    {
        "id": "f7eb52ae56fde911",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ef3f5fb5b4985fc3",
        "type": "mqtt in",
        "z": "f7eb52ae56fde911",
        "name": "eui-0080e115000ad0e1",
        "topic": "v3/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "161640dbe16fc39d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "f0a3726c55ce2e20",
                "a6d732affc2fb5a1",
                "38c22f2eadccab53",
                "715b0dd791fcd4ec",
                "0b9dec3b84306797",
                "52fb6eb2efa13058"
            ]
        ]
    },
    {
        "id": "a6d732affc2fb5a1",
        "type": "function",
        "z": "f7eb52ae56fde911",
        "name": "Temperature",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['temperature'];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "845a930873acc39b",
                "c72c3a386cba7fda"
            ]
        ]
    },
    {
        "id": "f0a3726c55ce2e20",
        "type": "debug",
        "z": "f7eb52ae56fde911",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "845a930873acc39b",
        "type": "debug",
        "z": "f7eb52ae56fde911",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "c72c3a386cba7fda",
        "type": "influxdb out",
        "z": "f7eb52ae56fde911",
        "influxdb": "5f298d6c41b3deb7",
        "name": "Testing_Lora",
        "measurement": "Temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Chiptree",
        "bucket": "Testing_Lora",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "38c22f2eadccab53",
        "type": "function",
        "z": "f7eb52ae56fde911",
        "name": "CO2",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['CO2'];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "4d6c27913ed0937c"
            ]
        ]
    },
    {
        "id": "715b0dd791fcd4ec",
        "type": "function",
        "z": "f7eb52ae56fde911",
        "name": "CO",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['CO'];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "842f75904ab247f8"
            ]
        ]
    },
    {
        "id": "0b9dec3b84306797",
        "type": "function",
        "z": "f7eb52ae56fde911",
        "name": "PM2.5",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['PM2_5'];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 520,
        "wires": [
            [
                "1c171fc6e3295eb7"
            ]
        ]
    },
    {
        "id": "4d6c27913ed0937c",
        "type": "influxdb out",
        "z": "f7eb52ae56fde911",
        "influxdb": "5f298d6c41b3deb7",
        "name": "Testing_Lora",
        "measurement": "CO2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Chiptree",
        "bucket": "Testing_Lora",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "842f75904ab247f8",
        "type": "influxdb out",
        "z": "f7eb52ae56fde911",
        "influxdb": "5f298d6c41b3deb7",
        "name": "Testing_Lora",
        "measurement": "CO",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Chiptree",
        "bucket": "Testing_Lora",
        "x": 710,
        "y": 440,
        "wires": []
    },
    {
        "id": "1c171fc6e3295eb7",
        "type": "influxdb out",
        "z": "f7eb52ae56fde911",
        "influxdb": "5f298d6c41b3deb7",
        "name": "Testing_Lora",
        "measurement": "PM2.5",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Chiptree",
        "bucket": "Testing_Lora",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "52fb6eb2efa13058",
        "type": "function",
        "z": "f7eb52ae56fde911",
        "name": "PM1.0",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['PM1_0'];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 600,
        "wires": [
            [
                "d665e5cafaf15646"
            ]
        ]
    },
    {
        "id": "d665e5cafaf15646",
        "type": "influxdb out",
        "z": "f7eb52ae56fde911",
        "influxdb": "5f298d6c41b3deb7",
        "name": "Testing_Lora",
        "measurement": "PM1.0",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Chiptree",
        "bucket": "Testing_Lora",
        "x": 710,
        "y": 600,
        "wires": []
    },
    {
        "id": "161640dbe16fc39d",
        "type": "mqtt-broker",
        "name": "the_things_stack",
        "broker": "192.168.1.51",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5f298d6c41b3deb7",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Influxdb1",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    }
]